.item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-bottom: 1px solid #f0f0f0;
    padding: 15px 2px 20px 0;
    box-sizing: border-box;
    margin: 0 0 15px;
    .content {
        .title {
            color: #333;
            margin: -7px 0 4px;
            display: inherit;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.5;
            &:visited {
                color: #969696;
            }
        }
        .abstract {
            margin: 0 0 8px;
            font-size: 13px;
            line-height: 24px;
            color: #999;
        }
        .meta {
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            & > span {
                margin-right: 10px;
                color: #b4b4b4;
            }
            .read {
                color: #ea6f5a;
                .num {
                    // padding-left: 5px;
                }
            }
            .hover {
                cursor: pointer;
                &:hover {
                    color: #787878;
                }
                .num {
                    // padding-left: 5px;
                }
            }
            .name {
                .num {
                    // padding-left: 5px;
                }
            }
        }
    }
    .img {
        width: 150px;
        height: 100px;
        flex-shrink: 0;
        margin-left: 20px;
        & > img {
            width: 100%;
            height: 100%;
            border-radius: 4px;
            border: 1px solid #f0f0f0;
            cursor: pointer;
        }
    }
}