.authorItem {
    margin-top: 15px;
    display: flex;
    .left {
        width: 48px;
        height: 48px;
        margin-right: 10px;
        .img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            border: 1px solid #ddd;
            box-sizing: border-box;
        }
    }
    .mid {
        flex-grow: 1;
        flex-shrink: 1;
        font-size: 12px;
        color: #969696;
        .name {
            color: #4b4b4b;
            display: block;
            padding-top: 5px;
            margin-right: 60px;
            font-size: 14px;
            display: block;
            &:hover {
                color: #2f2f2f;
            }
            &:visited {
                color: #2f2f2f;
            }
        }
        .detail {

        }
    }
    .right {
        margin-top: 5px;
        padding: 0;
        font-size: 13px;
        color: #42c02e;
        .follow {
            cursor: pointer;
        }
    }
}