.root {
    position: relative;
    min-height: 100vh;
    background-color: #f9f9f9;
    .container {
        position: relative;
        margin: auto;
        width: 960px;
        .flexCol {
            display: flex;
            .left {
              width: 66.66667%;
              margin-right: 10px;
              background-color: #ffffff;
              border-radius: 4px;
              .article {
                  padding: 32px;
                .header {
                    font-size: 30px;
                    font-weight: 700;
                    word-break: break-word;
                    margin-top: 32px;    
                }
                .authorInfo {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 32px;
                    font-size: 13px;
                }
              }

            }
            .right {
                border-radius: 4px;
                width: 29.16667%;
                .card {
                    background-color: #ffffff;
                    border-radius: 4px;
                    padding: 8px;
                    margin-bottom: 10px;
                    .titleRow {
                        cursor: pointer;
                        font-size: 14px;
                        line-height: 22px;
                        margin: 16px 0 4px 0;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    .readCountRow {
                        font-size: 12px;
                        color: #969696;
                    }
                }
                .recommendTitle {
                    font-size: 16px;
                    padding-left: 6px;
                    line-height: 120%;
                    border-left: 4px solid #ec7259;
                }
            }
        }
    }
}
.leftBtnList {
    position: fixed;
    z-index: 98;
    top: 216px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: calc((100vw - 1000px)/2 - 78px);
    color: #969696;;
    .item {
        margin-bottom: 16px;
        font-size: 18px;
        .circle {
            background-color: #ffffff;
            border-radius: 50%;
            width: 48px;
            height: 48px;
            box-shadow: 0 2px 10px #0000000d;
            text-align: center;
            line-height: 48px;
            margin: 0 8px;
        }
        .letter {
            display: block;
            height: 19px;
            line-height: 19px;
            font-size: 14px;
            text-align: center;
            margin-top: 4px;
        }
    }
}