.root {
  position: relative;
  margin: auto;
  width: 960px;
  background-color: #ffffff;
}
.flexCol {
  display: flex;
  .left {
    width: 66.66667%;
    margin-right: 10px;
    background-color: #ffffff;
  }
  .right {
    width: 29.16667%;
    padding: 30px 0 0;
    margin-left: 4.16667%;
    .header {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      color: #969696;
      .nextBatch {
        cursor: pointer;
        &:hover {
          color: #787878;
        }
      }
    }
  }
}