.articleItem {
    margin-top: 15px;
    display: flex;
    .left {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        .img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            border: 1px solid #ddd;
            box-sizing: border-box;
        }
    }
    .mid {
        flex-grow: 1;
        flex-shrink: 1;
        font-size: 12px;
        color: #969696;
        .nameRow {
            color: #4b4b4b;
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 500;
            margin-right: 8px;
            margin-bottom: 6px;
            .name {
                &:hover {
                    color: #2f2f2f;
                }
                &:visited {
                    color: #2f2f2f;
                }
            }
            .logo {
                margin: 0 8px;
                width: 16px;
                height: 16px;
                background-image: url(../../../../assets/img/logo1.png);
                background-size: contain;
            }
            .follow {
                position: relative;
                flex-shrink: 0;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                touch-action: manipulation;
                cursor: pointer;
                background-image: none;
                white-space: nowrap;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                transition: all .2s cubic-bezier(.645,.045,.355,1);
                font-size: 14px;
                color: #969696;
                background-color: #fff;
                border: 1px solid #999;
                color: #ec7259;
                background-color: #fff;
                border-color: #ec7259;
                padding: 2px 9px;
                font-size: 12px;
                &:hover {
                    color: #ec7259;
                    background-color: #fef8f7;
                    border-color: #ec7259;
                }
            }
        }
        .detail {
            font-size: 13px;
            .red {
                color: #ec7259;
            }
            .item {
                margin-right: 10px;
                .key {
                    margin-right: 5px;
                }
            }
        }
    }
}